@model BLL.App.DTO.UserMessages

@{
    ViewData["Title"] = "Details";
}


<h1>@Resources.BLL.App.DTO.UserMessage.UserMessages</h1>

<div>

    <hr />
    <partial name="_Details" model="Model"/>

</div>
<div>
    <a asp-action="Index">@Resources.Views.Crud.CRUD.Index</a>
</div>






