@model DAL.App.DTO.Quiz


<div class="form-group">
    <label asp-for="QuizName" class="control-label">Quiz name</label>
    <input asp-for="QuizName" class="form-control" />
    <span asp-validation-for="QuizName" class="text-danger"></span>
</div>


