@model WebApp.ViewModels.ProductMaterial.ProductMaterialCreateEditViewModels

<div class="form-group">
    <label asp-for="ProductMaterial.ProductId" class="control-label">@Resources.BLL.App.DTO.Products.Product</label>
    <select asp-for="ProductMaterial.ProductId" class="form-control" asp-items="Model.ProductSelectList">
        <option value="">--- @Resources.DropDown.DropDown.Select ---</option>
    </select>
    <span asp-validation-for="ProductMaterial.ProductId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ProductMaterial.MaterialId" class="control-label">@Resources.BLL.App.DTO.Materials.Material</label>
    <select asp-for="ProductMaterial.MaterialId" class="form-control" asp-items="Model.MaterialSelectList">
        <option value="">--- @Resources.DropDown.DropDown.Select ---</option>
    </select>
    <span asp-validation-for="ProductMaterial.MaterialId" class="text-danger"></span>
</div>