@model WebApp.ViewModels.Products.ProductCreateEditViewModels

 <div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Product.Description" class="control-label"></label>
    <input asp-for="Product.Description" class="form-control" />
    <span asp-validation-for="Product.Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.Color" class="control-label"></label>
    <input asp-for="Product.Color" class="form-control" />
    <span asp-validation-for="Product.Color" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.ProductAge" class="control-label"></label>
    <input asp-for="Product.ProductAge" class="form-control" />
    <span asp-validation-for="Product.ProductAge" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="Product.IsBooked" /> @Html.DisplayNameFor(model => model.Product.IsBooked)
    </label>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="Product.HasTransport" /> @Html.DisplayNameFor(model => model.Product.HasTransport)
    </label>
</div>
<div class="form-group">
    <label asp-for="Product.Height" class="control-label"></label>
    <input asp-for="Product.Height" class="form-control" />
    <span asp-validation-for="Product.Height" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.Width" class="control-label"></label>
    <input asp-for="Product.Width" class="form-control" />
    <span asp-validation-for="Product.Width" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.Depth" class="control-label"></label>
    <input asp-for="Product.Depth" class="form-control" />
    <span asp-validation-for="Product.Depth" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.UnitId" class="control-label"></label>
    <select asp-for="Product.UnitId" class="form-control" asp-items="Model.UnitSelectList">
        <option>--- Please select ---</option>
    </select>
    <span asp-validation-for="Product.UnitId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.CountyId" class="control-label"></label>
    <select asp-for="Product.CountyId" class="form-control" asp-items="Model.CountySelectList">
        <option>--- Please select ---</option>
    </select>
    <span asp-validation-for="Product.CountyId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.CityId" class="control-label"></label>
    <select asp-for="Product.CityId" class="form-control" asp-items="Model.CitySelectList">
        <option>--- Please select ---</option>
    </select>
    <span asp-validation-for="Product.CityId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.CategoryId" class="control-label"></label>
    <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.CategorySelectList">
        <option>--- Please select ---</option>
    </select>
    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.ConditionId" class="control-label"></label>
    <select asp-for="Product.ConditionId" class="form-control" asp-items="Model.ConditionSelectList">
        <option>--- Please select ---</option>
    </select>
    <span asp-validation-for="Product.ConditionId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.LocationDescription" class="control-label"></label>
    <input asp-for="Product.LocationDescription" class="form-control" />
    <span asp-validation-for="Product.LocationDescription" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Product.DateAdded" class="control-label"></label>
    <input asp-for="Product.DateAdded" class="form-control" />
    <span asp-validation-for="Product.DateAdded" class="text-danger"></span>
</div>


