@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm;
}

<h1>@Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.ForgotPasswordConfirm</h1>
<p>
    @Resources.Areas.Identity.Pages.Account.ForgotPasswordConfirmation.PleaseCheckEmail
</p>

