@model WebApp.ViewModels.UserBookedProducts.UserBookedProductsCreateEditViewModel

@* <div class="form-group"> *@
@*     <label asp-for="UserBookedProducts.ProductId" class="control-label"></label> *@
@*     <select asp-for="UserBookedProducts.ProductId" class="form-control" asp-items="Model.ProductSelectList"> *@
@*         <option>--- Please select ---</option> *@
@*     </select> *@
@*     <span asp-validation-for="UserBookedProducts.ProductId" class="text-danger"></span> *@
@* </div> *@