@using Microsoft.AspNetCore.Identity
@using Domain.App.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        <li class="nav-item">
            <a  id="userLayout" class='fas fa-user-alt' asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@user.Firstname @user.Lastname</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-gray" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-gray" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-gray" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>